<app-header></app-header>

<div class="container">

  <div class="content">
    <div class="textos">
      <span>APRENDA CONOSCO</span>
      <h2>Dê uma espiada em nosso conteúdo</h2>
      <mat-card class="card">
        <mat-card-title class="title">Módulos</mat-card-title>
        <mat-card-content class="subtitle">Uma série de aulas separadas em módulos para facilitar o aprendizado: assim,
          a trilha de estudo fica organizada e de fácil entendimento.</mat-card-content>
        <button mat-button (click)="listarModulos()">Saiba mais
          <mat-icon>arrow_right</mat-icon>
        </button>

      </mat-card>
    </div>

    <div class="content-img">
      <img src="../../../assets/home.svg" alt="">
    </div>

  </div>

</div>

<app-footer></app-footer>
