.table{
  width: 90%;
  margin-top: 20px;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions{
  width: 90%;
}

.actions button{
  background-color: rgb(59, 212, 45);
  color: #FFFFFF;
}

.table-container-th{
  width: 100px;
  text-align: center;
  font-weight: 500;
  color: #000 !important
}

.table-container-td{
  text-align: center;
  color: #000;
}

